<div class="w-screen h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right"
  style="max-width: 300px;">

  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    @if (textoSubresultado() !== '0') {
    <span class="text-4xl">{{ textoSubresultado() }} {{ ultimoOperador() }} </span>
    <br>
    }
    <span>{{ textoResultado() }}</span>
  </div>
</div>

<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">

  <div class="flex w-full">
    <boton-calculadora (enClic)="manejarClic($event)">C</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">+/-</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">%</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)" comando>÷</boton-calculadora>
  </div>

  <div class="flex w-full">
    <boton-calculadora (enClic)="manejarClic($event)">7</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">8</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">9</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)" comando>x</boton-calculadora>
  </div>

  <div class="flex w-full">
    <boton-calculadora (enClic)="manejarClic($event)">4</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">5</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">6</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)" comando>-</boton-calculadora>
  </div>

  <div class="flex w-full">
    <boton-calculadora (enClic)="manejarClic($event)">1</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">2</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">3</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)" comando>+</boton-calculadora>
  </div>

  <div class="flex w-full">
    <boton-calculadora (enClic)="manejarClic($event)">0</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)">.</boton-calculadora>
    <boton-calculadora (enClic)="manejarClic($event)" comando doble>=</boton-calculadora>
  </div>

</div>